.eheading {
    font-family: "Sedgwick Ave Display", cursive;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: max-content;
    position: relative;
    z-index: 2;
    color: #fff;
    width: min-content;
    transition: all 0.3s;
}

.eheading .before {
    position: absolute;
    z-index: -1;
    aspect-ratio: 454/110;
    width: 16rem;
    left: 40%;
    bottom: 15px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.eheading .big {
    position: relative;
    z-index: 1;
    font-size: 5rem;
}
.eheading .small {
    position: relative;
    z-index: 1;
    line-height: 0.8em;
    font-size: 2.5rem;
    width: 100%;
    font-family: "Sedgwick Ave Display" !important;
}

.eheading .small .big1 {
    padding-left: 0.5ch;
    font-size: 3.5rem;
    line-break: strict;
    width: 400px;
}

.saptami {
    background-image: url("/assets/imgs/Schedule/saptami-text.webp");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
.ashtami {
    background-image: url("/assets/imgs/Schedule/ashtami-text.webp");
}
.navami {
    background-image: url("/assets/imgs/Schedule/navami-text.webp");
}
.dashami {
    background-image: url("/assets/imgs/Schedule/dashami-text.webp");
}

@media screen and (max-width: 440px) {
    .eheading .before {
        width: 57vw;
    }

    .eheading .big,
    .eheading .small .big1 {
        font-size: 2.75rem;
    }

    .eheading .small {
        font-size: 1.5rem;
    }
}
