.eheading {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: max-content;
    position: relative;
    z-index: 2;
    color: #fff;
    width: max-content;
}

.eheading .before {
    position: absolute;
    z-index: -1;
    aspect-ratio: 454/110;
    width: 20rem;
    left: 40%;
    bottom: 15px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.eheading .big {
    position: relative;
    z-index: 1;
    font-size: 5rem;
}
.eheading .small {
    position: relative;
    z-index: 1;
    line-height: 0.8em;
    font-size: 2.5rem;
    width: 100%;
}

.saptami {
    background-image: url("./assets/imgs/Schedule/saptami-text.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
.ashtami {
    background-image: url("./assets/imgs/Schedule/ashtami-text.png");
}
.navami {
    background-image: url("./assets/imgs/Schedule/navami-text.png");
}
.dashami {
    background-image: url("./assets/imgs/Schedule/dashami-text.png");
}

@media screen and (max-width: 440px) {
    .eheading .before {
        width: 60vw;
    }
}
