@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root, * {
	font-family: "Exo 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	/* font-size: 30px; */
	/* line-height: 1.5; */

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.5);
	/* background-color: #171717; */

	--accent1: #5075f6;
	--accent1-50: rgba(80, 116, 246, 0.5);
	--accent1dark: #3955ba;
	--accent2: #705dea;
	--accent3: #000001;

	--primary: var(--accent1);
	--primary50: var(--accent1-50);
	--primaryDark: var(--accent1dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

.display-font {
	font-family: "Sedgwick Ave Display", cursive;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 50px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
	
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	color: white;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}


::-webkit-scrollbar {
  /* height: 7px !important; */
  border-radius: 20px !important;
  overflow: hidden;
  width: 5px;
  border: 0px solid red;
  height: 90%;
  padding: 1rem;
}

::-webkit-scrollbar-track {
  /* height: 5px !important; */
  padding: 1rem;
  border: 0px solid green;
}

::-webkit-scrollbar-thumb {
  /* height: 5px !important; */
  border-radius: 10px;
  background: var(--primary50);
  transition: 0.5s all;
}
::-webkit-scrollbar-thumb:hover{
	background: var(--primary);
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  /* display: none; */
}

@media (prefers-color-scheme: light) {
	/* :root {
		color: #ffffff;
	} */
	/* a:hover {
		color: #747bff;
	}*/
	button {
		color: #f9f9f9;
	}
}
@media only screen and (max-width: 1100px),
	only screen and (max-device-width: 1100px) {
	.display-font {
		font-size: 30px;
	}
}

@keyframes fadeIn{
	from{
	  opacity: 0;
	}
	to{
	  opacity: 1;
	}
  }
