@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

*::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f500;
  }
  
  *::-webkit-scrollbar-thumb {
    width: 3px !important;
    border-radius: 10px;
    background: #4f4f4f;
  }
  *::-webkit-scrollbar-button,
  *::-webkit-scrollbar-corner {
    display: none;
  }

html,
body {
    padding: 0;
    margin: 0;
    background: #000;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    width: min(900px, 100%);
    background-color: hsl(0, 0%, 3%);
    margin: 1rem;
    border-radius: 10px;
}

.img-crop-control button {
    color: #fff !important;
    background-color: #ffffff17;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.img-crop-control button:hover {
    background-color: #ffffff29;
}

.ant-slider-track, .ant-slider-handle::after {
    background-color: #1668dc !important;
}

input, .ant-input-number-input {
    font-family: "Poppins", serif !important;
}