.schedule {
  /* font-family: "Sedgwick Ave Display", cursive; */
  padding: 5rem;
  font-size: 20px;
  /* min-width: 525px; */
  /* color: #fff; */
  /* border: 1px solid red; */
}

.schedule .event {
  margin-top: 5rem;
  /* border: 1px solid red; */
}

.schedule .event .event-content {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 3rem;
}
.schedule .event .event-content::before {
  content: "";
  mask-image: linear-gradient(transparent, black 30%, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.schedule .saptami-back .event-content::before {
  background-image: url("/assets/imgs/Schedule/saptami.png");
}
.schedule .ashtami-back .event-content::before {
  background-image: url("/assets/imgs/Schedule/ashtami.png");
}
.schedule .navami-back .event-content::before {
  background-image: url("/assets/imgs/Schedule/navami.png");
}
.schedule .dashami-back .event-content::before {
  background-image: url("/assets/imgs/Schedule/dashami.png");
}

.eheading .big {
  position: relative;
  z-index: 1;
  font-size: 5rem;
}
.eheading .small {
  position: relative;
  z-index: 1;
  line-height: 0.8em;
  font-size: 2.5rem;
  width: 100%;
}

.schedule .eheading .title {
  width: min(15ch, 100%);
  text-align: center;
}


.schedule .event .event-content .description {
  text-align: right;
  align-self: center;
  color: white;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}



.schedule .event .event-content .description .about {
  /* padding-top: 1.5rem; */
  width: 30ch;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.537);
}

.schedule .event .event-content .description .about-link {
  /* font-size: 1.2rem; */
  font-weight: 600;
  /* margin-top: 1.5rem; */
  color: white;
  transition: all ease 0.2s;
  width: max-content;
  background-color: var(--accent1);
  border-radius: 5px;
  /* padding: 0.5rem; */
  align-self: end
}


.schedule .event .event-content .description .about-link:hover {
  cursor: pointer;
}

.left-padding {
  margin-left: 3rem;
}

@media screen and (max-width: 1150px) {
  .left-padding {
    margin-left: 2rem;
  }
  .schedule {
    padding: 2rem;
  }

  .about-link{
    align-self: center;
  }

  .schedule .event .event-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .schedule .event .event-content .description {
    text-align: left;
    margin-bottom: 4rem;
    align-items: flex-start;
  }

  .schedule .event .event-content .description .about {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .left-padding {
    margin-left: 1rem;
  }
  .schedule {
    padding: 0rem;
    padding-top: 104px;
    font-size: 20px;
  }
  .schedule .event .event-content {
    padding: 1rem;
    padding-top: 3rem;
  }
  .schedule .event .event-content .description .about{
    font-size: 20px;
  }
}

.schedule .eheading:hover {
  color: var(--accent3);
}