.schedule {
    padding-top: 3rem;
    font-size: 1rem;
    animation: fadeIn 0.5s linear forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.schedule .heading {
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.schedule .heading .event_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    border: 0px solid yellow;
    /* overflow: hidden; */
    z-index: 0;
    opacity: 100%;
}
.schedule .heading .event_bg img {
    width: 100vw;
    height: 100%;
    object-fit: contain;
    object-position: center;
    opacity: 0.5;
}

.day-title {
    font-family: "sedgwick ave display";
    font-size: 4.5rem;
    color: #fff;
    margin: 0;
    position: relative;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.day-title::after {
    content: attr(data-text); /* same text */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    font-family: inherit;
    font-size: 4.5rem; /* a bit larger than the main text */
    color: var(--primary); /* a darker or tinted color to simulate reflection */
    transform: translate(15px, 15px); /* horizontal, vertical offset */
    opacity: 0.6; /* partial transparency */
}
.Outer-div .one {
    transition: all ease 0.2s;
}
.Outer-div .one:hover {
    color: var(--primary);
}
.event_div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 18, 20, 0.7);
}
.event_div * {
    z-index: 0;
}

.data-intro {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    text-shadow: 0 0 10px 2px #000;
    line-height: 1.4em !important;
}

@media only screen and (max-width: 970px) {
    .event_div .day-section {
        flex-direction: column;
    }

    .day-title,
    .day-title::after {
        font-size: 3.5rem;
    }
    
    .data-intro {
        width: 100% !important;
    }
}
