.event-popup {
    font-size: 1.5rem;
    color: #fff !important;
    padding: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeIn 0.5s linear forwards;
}

.event-popup ::before {
    color: #fff;
}

.event-popup .event-head {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 4rem;
    margin-bottom: 0.5em;
}

.event-popup .event-customhead {
    margin-bottom: 0;
    margin-top: 1em;
}

.event-popup .event-desc-img {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.event-popup .event-desc-img .event-poster {
    max-width: 400px;
}

.event-popup .event-desc-img .event-poster img {
    width: 100%;
}


.event-popup .event-desc-img .event-desc {
    color: #ffffffbe;
    width: 100%;
    margin-bottom: 1em;
}

.event-popup .event-details {
    position: relative;
    margin: 5rem 0 1rem 0;
    display: flex;
    justify-content: start;
    align-items: start;
    width: max-content;
    height: max-content;
    gap: 1rem;
    color: #ffffffbe
}

.event-popup .event-details > * {
    font-size: 1.5rem;
}

.event-popup .event-details .event-time::before {
    content: "TIME";
    font-size: 2rem;
    font-family: "Sedgwick Ave Display", cursive;
    position: absolute;
    top: -1.1em;
}

.event-popup .event-details .event-time {
    /* background-color: green; */
    width: 10ch;
}

.event-popup .event-details .event-venue {
    /* background-color: red; */
    width: 10ch;
}

.event-popup .event-details .event-venue::before {
    content: "VENUE";
    font-size: 2rem;
    font-family: "Sedgwick Ave Display", cursive;
    position: absolute;
    top: -1.1em;
}

.event-popup .event-details .event-club::before {
    content: "Club/Society";
    font-size: 2rem;
    font-family: "Sedgwick Ave Display", cursive;
    position: absolute;
    top: -1.1em;
}

.event-popup .rules-list-contain {
    padding: 1rem;
}

.event-popup .rules-list-contain .rules-list .rule-item {
    color: #ffffffbe;
    padding-bottom: 0.5em;
}

.event-popup .judges {
    width: max-content;
    height: max-content;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 2rem;
}

.event-popup .judges .judge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10rem;
}

.event-popup .judges .judge .judge-pic {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px -2px 0 3px var(--accent1);
}

.event-popup .judges .judge span {
    font-size: 1.1rem;
    /* font-family: "Sedgwick Ave Display", cursive; */
}

.event-popup .event-details .rules-link a {
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    transition: all 0.3s;
}
.event-popup .event-details .rules-link a:hover {
    color: var(--accent1);
}

.event-popup .event-details .rules-link a {
    color: #fff;
    font-size: 2.5rem;
    transition: all 0.3s;
}
.event-popup .event-details .rules-link .material-icons {
    font-size: 2.5rem;
    color: var(--accent1);
    position: relative;
    bottom: -0.15em;
}

@media screen and (max-width: 950px) {
    .event-popup .event-desc-img {
        flex-direction: column-reverse;
        align-items: center;
    }
    .event-popup .event-desc-img .event-desc {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .event-popup .event-details .event-time::before,
    .event-popup .event-details .event-venue::before {
        font-size: 1.8rem;
    }
    .event-popup {
        padding: 2rem;
        font-size: 1rem;
    }

    .event-popup .event-head {
        /* text-align: center; */
        font-size: 3.5rem;
    }

    .event-popup .event-customhead {
        /* text-align: center; */
        font-size: 3rem;
    }

    .event-popup .judges {
        justify-content: center;
    }
    .event-popup .judges .judge {
        width: 40%;
    }

    .event-popup {
        font-size: 1.3rem;
    }
}

.event-popup {
    padding-top: 6rem;
}
