.event-popup {
    font-size: 1.5rem;
    color: #fff !important;
    padding: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeIn 0.5s linear forwards;
}

.event-popup ::before {
    color: #fff;
}

.event-popup .event-head {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.event-popup .event-customhead {
    margin-bottom: 0;
    margin-top: 1em;
}

.event-popup .event-desc-img {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.event-popup .event-desc-img .event-poster {
    
    border-radius: 20px;
    width: 30%;
}

.event-popup .event-desc-img .event-poster img {
    width: 100%;
    border-radius: 20px;
}


.event-popup .event-desc-img .event-desc {
    color: #ffffffbe;
    width: 60%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

}
.event-popup .event-desc-img .fee{
    font-size: 20px;
}

.event-popup .event-details {
    position: relative;
    margin: 5rem 0 1rem 0;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 5rem 2rem;
    color: #ffffffbe;
    flex-wrap: wrap;
}

.event-popup .event-details > * {
    position: relative;
    font-size: 1.5rem;
}

.event-popup .event-details .event-time::before {
    content: "Time";
    font-size: 1.5rem;
    font-family: "Sedgwick Ave Display", cursive;
    position: absolute;
    top: -1.1em;
}

.event-popup .event-details .event-venue::before {
    content: "Venue";
    font-size: 1.5rem;
    font-family: "Sedgwick Ave Display", cursive;
    position: absolute;
    top: -1.1em;
}

.event-popup .event-details .event-club {
    min-width: 8ch;
}

.event-popup .event-details .event-club::before {
    content: "Club/Society";
    font-size: 1.5rem;
    font-family: "Sedgwick Ave Display", cursive;
    position: absolute;
    top: -1.1em;
}

.event-popup .rules-list-contain {
    padding: 1rem;
}

.event-popup .rules-list-contain .rules-list .rule-item {
    color: #ffffffbe;
    padding-bottom: 0.5em;
}

.event-popup .judges {
    width: max-content;
    height: max-content;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 2rem;
}

.event-popup .judges .judge {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 10rem;
    min-width: 12ch;
    position: relative;
    /* background-color: green; */
}

.event-popup .judges .coordinator {
    height: 10em;
    min-width: 12ch;
}

.event-popup .judges .coordinator .phone {
    color: #ffffff82;
    font-size: 1rem;
}

.event-popup .judges .coordinator .phone .material-icons {
    position: relative;
    top: 3px;
    /* margin-right: 3px; */
}
.event-popup .judges .coordinator .c-name {
    display: flex;
    /* height: 2.5em; */
}

.event-popup .judges .judge .judge-pic {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px -2px 0 3px var(--accent1);
}

.event-popup .judges .judge span {
    font-size: 1.1rem;
    text-align: center;
    /* font-family: "Sedgwick Ave Display", cursive; */
}

.event-popup .rules-link a {
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s;
}
.event-popup .rules-link a:hover {
    color: var(--accent1);
}

.event-popup .rules-link a {
    color: #ffffffbe;
    font-size: 1.5rem;
    transition: all 0.3s;
}
.event-popup .rules-link .material-icons {
    font-size: 1.5rem;
    color: var(--accent1);
    position: relative;
    bottom: -0.15em;
}

@media screen and (max-width: 950px) {
    .event-popup .event-desc-img {
        flex-direction: column;
        align-items: center;
    }
    .event-popup .event-desc-img .event-desc,
    .event-popup .event-desc-img .event-poster
     {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .event-popup .event-details .event-time::before,
    .event-popup .event-details .event-venue::before {
        font-size: 1.8rem;
    }
    .event-popup {
        padding: 2rem;
        font-size: 1rem;
    }

    .event-popup .event-head {
        /* text-align: center; */
        font-size: 3.5rem;
    }

    .event-popup .event-customhead {
        /* text-align: center; */
        font-size: 3rem;
    }

    .event-popup .judges {
        justify-content: center;
    }
    .event-popup .judges .judge {
        width: 40%;
    }

    .event-popup {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 624px) {
    /* .event-popup .event-details .event-time, */
    .event-popup .event-details .event-venue {
        flex-grow: 1;
    }
    .event-popup .event-details .event-club {
        width: 100%;
    }
    
}

.event-popup {
    padding-top: 6rem;
}
