.event-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  gap: 0.5rem;
  transition: all ease 0.3s;
}

.event-data {
  border: 1px solid white;
  padding: 1.2rem;
  transition: all ease 0.2s;
  display: flex;
  justify-content: center;
}

.event-data .data-header {
  font-size: 1.2rem;
  font-family: "Sedgwick Ave Display", cursive;
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  transition: all ease 0.2s;
  /* flex-direction: column; */
}

.event-data .data-header p {
  font-size: 0.8rem;
}

.event-data .data-body .img img {
  height: 15rem;
  width: 0px;
  transition: all ease 0.2s;
  position: relative;
  object-fit: cover;
}

.event-data .data-body {
  position: relative;
  transition: all ease 0.2s;
}

.event-data .data-body .img::before {
  content: "learn more";
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.511);
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.2s;
}

.event-data .data-body .img:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.event-data .data-header:hover {
  cursor: pointer;
  color: var(--accent1);
}

@media only screen and (max-width: 500px){
  .event-card, .event-data{
    flex-direction: column;
    /* width: 100%; */
  }

  .event-data {
    width: 100%;
  }

  .event-data .data-header{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }

  .event-data .data-body .img::before{
    transform-origin: bottom;
    transform: scaleY(0);
  }

  .event-data .data-body:hover::before{
    transform: scaleY(1);
    opacity: 1;
  }

  .event-data .data-body .img img {
    width: 70vw;
    height: 0px;
  }

  .day-details-wrapper .section-event {
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
  }
}
.remove{
  display: none
}
