.footer {
	background: rgba(0, 0, 0);
	width: 90%;
	margin: auto;
	margin-top: 200px;
	padding: 60px 40px;
	border-radius: 5px;
	border: 1px solid rgb(208, 208, 208, 0.75);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
	margin-bottom: 20px;
}
.footer .left-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 30%;
}

.footer .left-col .logo {
	width: 200px;
}
.footer .left-col .logo img {
	width: 100%;
	height: 100%;
}
.footer .left-col .name {
	color: white;
	font-weight: 600;
	/* color: white !important; */
	font-size: 30px;
}
.footer .left-col .logos {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 20px;
}

.footer .left-col .logos .item {
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.footer .left-col .logos .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer .left-col .logos .divider {
	width: 2px;
	height: 80px;
	background-color: white;
	margin: 0 10px;
}
.footer .left-col .address {
	color: rgb(208, 208, 208, 0.75);
	font-size: 15px;
	width: 100%;
	margin: auto;
	margin-top: 10px;
}
.footer .left-col a {
	color: rgb(208, 208, 208, 0.75);
	transition: all ease 0.2s;
}
.footer .left-col a:hover {
	color: var(--primary);
}
.footer .right-col {
	width: 40%;
}
.footer .right-col .title,
.footer .right-col-2 .title {
	font-size: 20px;
	margin-left: 0px;
	padding: 10px 0;
}
.footer .right-col .contacts {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	/* flex-flow: column nowrap; */
	width: 50%;
	height: 250px;
	/* border: 1px solid red; */
}
.footer .right-col .contacts .contact {
	width: 100%;
	padding: 10px;
	/* border: 1px solid red; */
}
.footer .right-col .contacts .contact .mail {
	color: rgba(255, 255, 255, 0.75);
}
.footer .right-col .contacts .contact .ph-num {
	color: rgba(255, 255, 255, 0.75);
}
.footer .right-col .contacts .contact .mail a {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}
.footer .right-col .contacts .contact3 .mail {
	color: rgba(255, 255, 255, 0.75);
}
.footer .right-col .contacts .contact3 .mail a {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}
.footer .right-col-2 .socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column nowrap;
}
.footer .right-col-2 .socials .item {
	display: flex;
	flex-direction: row;
	padding: 10px;
}
.footer .right-col-2 .socials .item .logo {
	margin: 0 10px 0 0;
}
@media only screen and (max-width: 1200px),
	only screen and (max-device-width: 1200px){
		.footer .right-col .contacts{
			height: 300px;
		}
	}
	@media only screen and (max-width: 720px),
	only screen and (max-device-width: 720px){
		.footer .right-col .contacts{
			height: 400px;
			width: 100%;
		}
	}
@media only screen and (max-width: 480px),
	only screen and (max-device-width: 480px) {
	.footer {
		flex-direction: column;
	}
	.footer .left-col {
		flex-direction: column;
		width: 100%;
	}
	.footer .right-col,
	.footer .right-col-2 {
		width: 90%;
		margin-top: 10px;
	}
	.footer .right-col .contacts .contact {
		width: 100%;
	}
	.footer .right-col-2 .socials {
		justify-content: flex-start;
	}

	/* .footer .right-col {
		height: max-content
	} */
}
