/* Container */
.event-single-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
   padding-top:70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.event-single-container * {
  /* outline: 1px solid lime; */
}

/* Banner Image Section */

/* Overlay to Darken the Image */
.event-single-overlay {
  width: 100%;
  background: linear-gradient(#0f1214b2 10%, #0F1214 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  height: 300px
}

/* Header */
.event-single-header {
  display: flex;
  flex-direction: column; /* Stack items */
  align-items: flex-start;
  gap: 5px;
}

.event-single-badge {
  background: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.event-single-title {
  font-size: 3.5rem;
  margin: 0;
  color:var(--primary);
  font-weight: bold;
}

.event-single-subtitle {
  color: #dedede;
  /* font-style: italic; */
  margin-bottom: 2rem;
}

/* Description and Buttons */
.event-single-description {
  /* max-width: 1000px; */
  /* line-height: 1.6; */
  color: #fff;
  font-size: 1.2rem;
}

.event-single-buttons {
  display: flex;
  gap: 0.3rem;
}
/* Content Section */
.event-single-content {
  padding: 2rem;
}

/* Schedule */
.schedule-title {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: bold;
}

.schedule-item {
  font-size: 1rem;
  margin: 5px 0;
}

.prelims-container {
  display: flex;
  gap: 0.2rem;
  margin-top: 1rem;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {  
  .event-single-container {
    padding-left: 20px;
  }

  .event-single-title {
    font-size: 2rem;
  }

  .event-single-description {
    font-size: 1rem;
  }

  .event-single-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-single-button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .prelims-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .prelims-card {
    width: 100%;
  }
}
