.artist-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* border: 1px solid red; */
	/* width: fit-content; */
}
.artist-card .img {
	position: relative;
	/* height: 100%; */
	/* width: 100%; */
	height: 350px;
}
.artist-card .img img {
	height: 100%;
	object-fit: cover;
	margin-left: 1rem;
	margin-right: 1rem;
}
.artist-card .display-font {
	position: absolute;
	bottom: 0;
	line-height: 70%;
	line-break: strict;
	width: 100%;
	text-align: center;
}
@media only screen and (max-width: 480px),
	only screen and (max-device-width: 480px) {
	.artist-card .img{
		height: 200px;
	}
	.artist-card .display-font {
		/* width: 110%; */
		text-align: center;
		font-size: 30px;
	}

	.artist-card .img img{
		margin: none;
	}
}
