doctype html
html
  head
    style
      include ./email.css
  body
    .container
      h1 Welcome to Rebeca, #{firstName}!
      p We're excited to have you on board. Start exploring our events on the website
      a(href="https://rebeca.in/", target="_blank") Get Started
      p If you have any questions, feel free to reach out to our support team.
      p Cheers,
      p Rebeca development committee