.merch {
	padding: 3rem 4rem;
	font-size: 1.2rem;
	animation: fadeIn 0.5s linear forwards;
}
.merch .section-2 {
	display: flex;
	flex-direction: row;
	width: max-content;
	align-items: center;
	justify-content: space-between;
	/* background-color: var(--primary); */
	border-radius: 5px;
	width: 100%;
	/* height: 400px; */
	margin-top: -2rem;
}

.merch .section-2 .img {
	width: max-content;
	/* height: 300px; */
	width: 40%;
	/* margin-left: -400px; */
	/* animation: img-carousel 10s ease-in-out infinite 4s; */
}
.merch .section-2 .img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.merch .section-2 .content {
	color: #ffffffcc;
	width: 50%;
}
@media only screen and (max-width: 1000px),
	only screen and (max-device-width: 1000px) {
    .merch{
      font-size: 20px;
      padding: 3rem;
    }
    .merch .section-2 .img{
      width: 45%;
    }
}
@media only screen and (max-width: 720px),
	only screen and (max-device-width: 720px){
    .merch .section-2{
      flex-direction: column;
      /* padding: 1rem; */
    }
    .merch .section-2 .img{
      width: 100%;
    }
    .merch .section-2 .content{
      width: 100%;
    }
  }
@media only screen and (max-width: 480px),
	only screen and (max-device-width: 480px){
    .merch{
      padding: 2rem;
    }
  }